
.test {
	padding-top: 70px;
}
.clear {
	clear: both;
}
.forker {
	z-index: 100;
}

.nav {
	background-color: orange;
	position: fixed;
	z-index: 99;
	width: 100%;
	
	
}

.nav-link {
	color: white;
}
.active {
	color: orange;
	background-color: white;
}

.active:hover {
	color: orange !important;
	background-color: white;
}

.nav-link:hover {
	color: lightgrey;
}

.jodelvotes {
	float: right;
}

.jodelvotes a {
	color: white;
	text-decoration: none;
}

.jodelvotes a:hover {
	color: grey;
	text-decoration: none;
}

.jodelmeta a {
	color: white;
	text-decoration: none;
}
.jodelmeta a:hover{
	text-decoration: none;
	color: lightgrey;
}

.newpost {
	
	text-align: center;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
	font-size: 80px;
	

}

.newpost a {
text-decoration: none;
	color: lightgrey;
}

.newpost a:hover,
.newcomment a:hover {
text-decoration: none;
	color: grey;
}

.mod-approve{
	color: green;
}
.mod-approve:hover{
	color: #07c300;
}

.mod-deny{
	color: #c10000;
}
.mod-deny:hover{
	color: red;
}

.mod-idc{
	color: #0101ab;
}
.mod-idc:hover{
	color:blue;
}

.mod-buttons{
	text-align: center;
	font-size: 80px;
}
.newcomment{
	text-align: center;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
	font-size: 40px;
	background-color: white;
}
.newcomment a {
text-decoration: none;
	color: black;
}


.btn:hover{
	cursor: pointer;
}

*::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white !important;
}
*:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white !important;
   opacity:  1;
}
*::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white !important;
   opacity:  1;
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white !important;
}

.reason {
	text-align: center;
}